:root {
  --shadow: #33223322;
}
body {
  font-family: Verdana, sans-serif, serif;
  color: #ffffff;
  text-shadow: 1px 1px var(--shadow);
  background-color: #00aacc;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.box {
  width: 700px;
  height: 500px;
  background-color: #ff0000;
  box-shadow: 5px 5px var(--shadow);
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  position: fixed;
  z-index: 1000000;
  justify-content: center;
  text-align: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  border: 5px solid #ffaaff;
  border-radius: 15px;
  overflow-y: scroll;
}
.show {
  visibility: visible;
}
.box #x {
  display: flex;
  margin-left: auto;
  background: transparent;
  border: none;
  font-size: 50px;
  justify-content: flex-end;
  text-align: right;
  align-items: flex-end;
  color: #000000;
}
.box #x:active {
  color: #ffffff;
}
.box #x:hover {
  text-shadow: 3px 3px var(--shadow)
}
a {
  color: #0000ff;
}
